# Navigation
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../../"
alias -- -="cd -"

# Copy, Move, Remove
alias cp='cp -v'
alias mv='mv -v'
alias rm='rm -i -v'

# Shortcuts
alias g="git"

# Google Cloud SDK
alias gsutil="gsutil.cmd"

# Development
alias cll='clear && ll'
alias dcd='docker-compose down'
alias dcu='docker-compose up -d'
alias dps='docker ps'
alias ga='git add'
alias gc='git commit -m'
alias gi='go install .'
alias gp='git pull'
alias gs='git status -s'
alias ll='ls -al'
alias ls='ls -F --color=auto --show-control-chars'
